{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/user_profile/style.css">
</head>
<body>

    <div class="conteiner">
        <h2>{{ user.name }}</h2>
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>
        {% for item in exam %}
            <ul>
                <li><a href="{% url 'user_profile:writing' user.username item.id %}">{{ item.title }}</a><p>-</p><a href="{% url 'user_profile:writing-dlt' user.username item.id %}">delete</a></li>
            </ul>
        {% endfor %}
    </div>

    <br>
    <br>
    <a href="{% url 'user_profile:edit' user.pk %}">edit profil</a>
</body>
</html>